body {
    background-color: rgb(71, 177, 171)
}
.nav {  
    width:100%;
    background-color: rgb(8, 112, 126);   
}
.nav-link{
    color: rgb(255, 255, 255)
}
h1 {
    padding: 2rem 0 2rem 0;
    color: white;   
}
.cart {
    position: fixed;
    width: 30%;
    height: 30%;
    overflow: scroll;
    background-color: rgba(240, 248, 255, 0.678);
    color: rgb(8, 112, 126);
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
    padding:10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
li{
    list-style-type: none;
}
.shoes-link {
    margin-right: 5px;
}
.hat {
    color: white;
    padding-top:20px;
}
img{
    margin-right: 10px;
    box-shadow: 0px 2px 2px 0px black;
    background-color: white;
}
form {
    display:inline-block;
}
.btn-warning {
    margin-top: 5px;
    color:rgb(8, 112, 126);
}